/* Footer styles */
  .footer-menu {
    margin-top: 30px;
    border-top: 1px solid #ccc;
  }
  
  .footer-link-col {
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .footer-link {
    color: #fff;
    border: none;
    background-color: #343669;
  }

  .footer-link:focus {
    outline: none;
    border: none;
  }

  .footer-icon:hover {
    color: #F1642B;
  }

  .active-link {
    color: #F1642B;
  }

  .btn-logout {
    padding: none;
    font-size: 14px;
    border: none;
    background-color: #343669;
    color: #fff;
  }

  .btn-logout:focus {
    outline: none;
  }