/* Login page */
  .login-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .login-container div {
    position: relative;
  }

  .login-container .input {
    margin-top: 0px;
  }

  .login-container h3 {
    margin-bottom: 40px;
    text-align: left;
  }

  .input-signin {
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    background-color: #343669;
    border-bottom: 1px solid #797eef;
    color: #fff;
    width: 100%;
  }

  .input-signin:focus {
    background-color: #343669;
    border-bottom: 1px solid #797eef;
    color: #fff;
  }

  ::placeholder {
    color: #fff;
  }

  label {
    position: absolute;
    bottom: 20px;
    left: 0px;
    font-size: 13px;
    letter-spacing: 1px;
    opacity: .6;
  }

  .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }

  .input-signin:focus + .label-name .content-name, 
  .input-signin:valid + .label-name .content-name {
    transform: translateY(-150%);
    color: #797eef;
    font-weight: 700;
  }

  .password-icon {
    font-size: 12px;
    opacity: .6;
    cursor: pointer;
    float: right;
    top: 31px;
    margin-right: 10px;
  }

  .login-container h6 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 15px 0 8px 0;
  }
  
  .btn-signin {
    border: none;
    color: #fff;
    background-color: #ffce82;
    margin-top: 30px;
    font-weight: 600;
  }