/* Login page */
  .login-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .login-container .input {
    margin-top: 0px;
  }

  .login-container h3 {
    margin-bottom: 40px;
    text-align: left;
  }

  .input-signin {
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    background-color: #343669;
    border-bottom: 1px solid #797eef;
    color: #fff;
  }

  .input-signin:focus {
    background-color: #343669;
    border-bottom: 1px solid #797eef;
    color: #fff;
  }

  ::placeholder {
    color: #fff;
  }

  .login-container h6 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 15px 0 8px 0;
  }

  .login-container span a {
    position: absolute;
    bottom: 250px;
    left: 390px;
    font-weight: 300;
    font-size: 10px;
    color: #F1642B;
    margin-left: 13px;
  }
  
  .btn-signin {
    border: none;
    color: #fff;
    background-color: #ffce82;
    margin-top: 30px;
    font-weight: 600;
  }
