/* List component styles */
 
  /* Header */
  .header {
    width: 100%;
    height: 200px;
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    position: relative;
    background: url('../images/img-bg.jpg') no-repeat;
    background-position: center; 
    color: #000;
    padding: 10px 0 20px 0;
    border-radius: 0 20px 0 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05);
  }

  .header-chart {
    background: url('../images/background-img.jpg') no-repeat;
    background-position: center; 
    background-size: cover;
  }

  .date {
    text-align: right;
    margin-right: 20px;
    font-weight: 500;
  }
  
  /* Buttons */
  .button-group {
    text-align: center;
    margin-top: 100px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:hover {
    color: #fff;
  }
  
  .buy-btn {
    background-color: #F1642B;
    border-radius: 10px 0 0 10px;
  }
  
  .sale-btn {
    background-color: #ffce82;
    border-radius: 0 10px 10px 0;
  }
  
  /* List styles */
  .text-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fullpage-spinner {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 60px; 
    margin-bottom: 60px;
  }

  .logo-img {
    width: 40px;
  }
  
  .arrow {
    margin-top: 4px;
  }
  
  .list-group-item {
    margin-top: 10px;
  }

  @media (max-width: 1295px) {

    .list-group-item {
        font-size: 12px;
    }
  }

  @media (max-width: 1024px) {

    .logo-img {
        width: 30px;
    }

    .list-group-item {
        font-size: 10px;
    }
  }