/* General styles */
.App {
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  border-radius: 0 40px 0 40px;
  background: #343669;
  color: #fff;
}

/* Light mode */
.light-mode {
  background-color: #fff;
  color: #000;
}

.light-mode .btn-toggle {
  background-color: #fff;
  border: none;
  color: #F1642B;
}

.light-mode .input-signin {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  color: #000;
}

.light-mode .input-signin:focus {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  color: #000;
}

.light-mode ::placeholder {
  color: #000;
}

.light-mode .login-container h6 {
  color: #000;
}

.light-mode .list-group-item {
  background-color: #fff;
}

.light-mode .btn-logout {
  background-color: #fff;
  color: #000;
}

.light-mode .footer-link {
  background-color: #fff;
  color: #000;
}

.light-mode .active-link {
  color: #F1642B;
}

.light-mode .chart-data {
  background-color: #fff;
}

/* Reusables */
h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, .2);
}

h3 {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
}

h4 {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
}

h6 {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #F1642B;
  font-style: italic;
  font-size: 14px;
  cursor: pointer;
}

a:hover {
  color: #F1642B;
  text-decoration: none;
}

input:focus {
  outline: none;
}

/* Buttons */
.button-group {
  text-align: center;
  margin-top: 100px;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #fff;
}

.btn-toggle {
  background-color: #343669;
  border: none;
  color: #fff;
}


/* App media queries */
@media (max-width: 1366px) {
  .App {
    width: 30%;
  }
}

@media (max-width: 1245px) {
  .App {
    width: 40%;
  }
}

@media (max-width: 950px) {
  .App {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .App {
    width: 60%;
  }
}

@media (max-width: 625px) {
  .App {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .App {
    width: 90%;
  }
}

